/* Full-Screen Layout */
.full-screen-container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #fffefd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  .header {
    background-color: #dfedf3;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space elements evenly: logo, title, dropdown */
    padding: 0px 20px; /* Add some padding */
    border-bottom: 1px solid #ddd; /* Optional: Add a subtle bottom border */
  }

  .logo img {
    width: 80px; /* Adjust logo size */
    height: auto;
  }
  
  .title {
    text-align: center;
    flex-grow: 1;
    text-align: center;
  }

  .title h2{
    font-size: 3rem;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    color: #216583;
    font-size: 2.5vw;
  }
  
  .dropdown-section {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 0.85em;
  }
  
  label {
    font-size: 0.85em;
    margin-right: 10px;
    color: #eee6e6
  }
  
  select {
    padding: 3px 8px; /* Make the dropdown smaller */
    font-size: 0.85em; /* Adjust dropdown text size */
    height: auto; /* Ensure dropdown height adapts */
    border: 1px solid #ccc; /* Optional: Customize border */
    border-radius: 4px; /* Slight rounding for modern look */

  }

  .background-container {
      
    width: 100%;
    height: 120vh; 
    background-image: linear-gradient(rgba(227, 239, 248, 0.8), rgba(227, 239, 248, 0.8)); /* Update with your actual image name */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  
}

  .action-buttons {
    text-align: right;
    font-size:xx-small;
    box-sizing: border-box;
    background: #f9fcff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Full-Screen Card */
  .full-screen-card {
    display: block; /* Ensure block-level for centering */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center the content inside */
    padding: 1vw;
    gap: 1vw;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content; /* Adjust width to fit content */
}
  


  .visitor-title {
    color: darkgreen;  /* Dark Grren  font color for visitors */
  }
  
  .vendor-title {
    color: blue; /* Blue font color for vendors */
  }
  
  .full-image {
    max-width: 100%;
    max-height: 100%;
    width: 35vw;
    height: 20vw;
    border-radius: 2vw;
  }
  
  .full-details {
    flex: 1;
    margin: 0 auto; /* Center the container horizontally */
    text-align: left; /* Align text within the container */
    width: fit-content;
    
  }

  .full-details span {
    font-size: 3vw;
    
}

  .full-details p {
    font-size: 2.5vw;
    color: rgb(125, 131, 71);
    display: grid;
    grid-template-columns: 16vw 1fr; /* Fixed width for labels and flexible for content */
    gap: 1vw;
  }
  
  strong {
    color:  #216583;
  }


  /* No Data Container CSS */
  .no-data-container {
    text-align: center;
    margin-top: 50px;
    color: #555;
    font-family: Arial, sans-serif;
  }
  
  .no-data-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .no-data-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .no-data-message {
    font-size: 16px;
    margin-bottom: 20px;
  }
  

  


  
  /* Responsive Design */
  @media (max-width: 768px) {
    .full-screen-card {
      flex-direction: column;
      text-align: center;
      gap: 1.5vw;
    }

    .title h2 {
      font-size: 3vw;
    }
  
    .full-image {
      max-width: 90%;
      max-height: 50%;
    }
  
    .full-details {
      padding: 1vw;
    }
  
    .full-details h2 {
      font-size: 2.5vw;
    }
  
    .full-details p {
      font-size: 2vw;
    }
  }


  